$primary:       #332C39;
$secondary:     #F0EEED;
$danger:        #C92C6D;


@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $primary;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $secondary;
}

.emoji {
    font-size: 30px;
    color: $danger;
 }

.emoji:hover {
    color: $secondary;
}